<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @routine.name %></title>
  </head>
  <body>
    <h1><%= @routine.name %></h1>
    <h3><i>Routine Schedule:</i></h3>
    <p>
      <% @routine.days.each do |day| %>
      <%= day.name %> <br>
      <% end %>
    </p>
    <h3><i>Routine Tasks:</i></h3>
    <ul>
      <% @routine.tasks.each do |task| %>
      <li><%= task.name %></li>
      <% end %>
    </ul>
    <form action="/routines/<%= @routine.id %>/edit" method="post">
      <input type="hidden" name="_method" value="patch" id="hidden">
      <input type="submit" value="Edit Routine">
    </form>
  </body>
</html>
